# Intro to Recommender Systems Lab

Complete the exercises below to solidify your knowledge and understanding of recommender systems.

For this lab, we are going to be putting together a user similarity based recommender system in a step-by-step fashion. Our data set contains customer grocery purchases, and we will use similar purchase behavior to inform our recommender system. Our recommender system will generate 5 recommendations for each customer based on the purchases they have made.

In [104]:
import pandas as pd
from scipy.spatial.distance import pdist, squareform

In [105]:
data = pd.read_csv('../data/customer_product_sales.csv')

In [106]:
data.head()

,CustomerID,FirstName,LastName,SalesID,ProductID,ProductName,Quantity
0,61288,Rosa,Andersen,134196,229,Bread - Hot Dog Buns,16
1,77352,Myron,Murray,6167892,229,Bread - Hot Dog Buns,20
2,40094,Susan,Stevenson,5970885,229,Bread - Hot Dog Buns,11
3,23548,Tricia,Vincent,6426954,229,Bread - Hot Dog Buns,6
4,78981,Scott,Burch,819094,229,Bread - Hot Dog Buns,20

## Step 1: Create a data frame that contains the total quantity of each product purchased by each customer.

You will need to group by CustomerID and ProductName and then sum the Quantity field.

In [107]:
df = pd.DataFrame(data)

In [108]:
df = df.groupby(['CustomerID','ProductName'])['Quantity'].sum().reset_index()
df

       CustomerID                    ProductName  Quantity
0              33               Apricots - Dried         1
1              33              Assorted Desserts         1
2              33        Bandage - Flexible Neon         1
3              33  Bar Mix - Pina Colada, 355 Ml         1
4              33         Beans - Kidney, Canned         1
...           ...                            ...       ...
63623       98200                   Vol Au Vents        50
63624       98200                  Wasabi Powder        25
63625       98200       Wine - Fume Blanc Fetzer        25
63626       98200  Wine - Hardys Bankside Shiraz        25
63627       98200        Yogurt - French Vanilla        25

[63628 rows x 3 columns]

## Step 2: Use the `pivot_table` method to create a product by customer matrix.

The rows of the matrix should represent the products, the columns should represent the customers, and the values should be the quantities of each product purchased by each customer. You will also need to replace nulls with zeros, which you can do using the `fillna` method.

In [109]:
table = pd.pivot_table(df,values = 'Quantity', index=['ProductName'],columns=['CustomerID'],fill_value=0)
#table.fillna(0)
table

CustomerID,33,200,264,356,412,464,477,639,649,669,...,97697,97753,97769,97793,97900,97928,98069,98159,98185,98200
ProductName,,,,,,,,,,,,,,,,,,,,,
Anchovy Paste - 56 G Tube,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,25.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"Appetizer - Mini Egg Roll, Shrimp",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,25.0,25.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Appetizer - Mushroom Tart,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,25.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,25.0,0.0
Appetizer - Sausage Rolls,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,25.0,25.0,25.0,0.0,25.0,0.0
Apricots - Dried,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,25.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Yeast Dry - Fermipan,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,25.0,0.0,0.0,0.0,0.0,0.0,0.0
Yoghurt Tubes,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,25.0,0.0,0.0
"Yogurt - Blueberry, 175 Gr",0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,25.0,0.0,0.0,25.0,0.0,0.0,0.0,0.0,0.0,0.0
Yogurt - French Vanilla,1.0,0.0,0.0,1.0,0.0,0.0,2.0,0.0,0.0,1.0,...,0.0,0.0,25.0,0.0,0.0,0.0,0.0,0.0,0.0,25.0
Zucchini - Yellow,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## Step 3: Create a customer similarity matrix using `squareform` and `pdist`. For the distance metric, choose "euclidean."

In [110]:
#primero pdist y luego square form
#plist es un dataframe y luego se transforma a square form
#import scipy df = plist()->squareform()
#metric euclidean

In [111]:
#Transponemos la tabla para tener customer vs products
customer_product_matrix = table.transpose()

In [112]:
distance = pdist(customer_product_matrix,metric='euclidean')
distance

array([ 11.91637529,  10.48808848,  11.22497216, ..., 304.13812651,
       305.16389039, 303.10889132])

In [113]:
matrix = pd.DataFrame(squareform(distance), index=customer_product_matrix.index, columns=customer_product_matrix.index)
matrix

CustomerID,33,200,264,356,412,464,477,639,649,669,...,97697,97753,97769,97793,97900,97928,98069,98159,98185,98200
CustomerID,,,,,,,,,,,,,,,,,,,,,
33,0.000000,11.916375,10.488088,11.224972,11.401754,11.090537,12.409674,11.045361,11.269428,11.489125,...,206.871941,213.180675,225.656819,198.232187,230.913404,220.501701,217.188858,228.628520,239.000000,229.773802
200,11.916375,0.000000,11.747340,12.083046,12.569805,12.288206,12.165525,12.083046,11.874342,12.000000,...,206.310446,212.635839,224.697575,197.139544,230.952376,220.202180,215.728997,228.010965,239.037654,229.704158
264,10.488088,11.747340,0.000000,11.489125,11.224972,11.445523,12.000000,11.401754,11.180340,11.747340,...,206.387984,212.946003,225.435135,197.600607,230.371439,219.136943,216.612557,228.081126,238.266657,229.773802
356,11.224972,12.083046,11.489125,0.000000,12.083046,11.789826,12.328828,11.135529,11.958261,12.165525,...,206.649462,213.082144,225.452878,197.494304,231.038958,219.952268,217.437347,228.098663,238.493186,229.464594
412,11.401754,12.569805,11.224972,12.083046,0.000000,11.704700,12.328828,11.135529,11.789826,11.747340,...,206.900942,211.679002,225.572605,197.630969,230.614397,219.733930,217.446545,227.997807,238.396728,228.927936
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97928,220.501701,220.202180,219.136943,219.952268,219.733930,219.599636,219.538152,219.924987,219.827205,220.070443,...,283.945417,283.945417,302.076149,272.717803,278.388218,0.000000,273.861279,291.547595,306.186218,307.205143
98069,217.188858,215.728997,216.612557,217.437347,217.446545,217.425849,216.903204,217.294731,217.080630,216.751009,...,283.945417,283.945417,295.803989,283.945417,285.043856,273.861279,0.000000,287.228132,297.909382,294.745653
98159,228.628520,228.010965,228.081126,228.098663,227.997807,228.197283,228.028507,228.181945,227.868383,228.103047,...,283.945417,279.508497,300.000000,290.473751,300.000000,291.547595,287.228132,0.000000,304.138127,305.163890
98185,239.000000,239.037654,238.266657,238.493186,238.396728,239.006276,238.949786,238.468027,238.692271,239.334494,...,301.039864,315.238005,306.186218,292.617498,314.245127,306.186218,297.909382,304.138127,0.000000,303.108891
98200,229.773802,229.704158,229.773802,229.464594,228.927936,229.017467,229.503813,229.656265,229.997826,229.032749,...,291.547595,297.909382,294.745653,289.395923,303.108891,307.205143,294.745653,305.163890,303.108891,0.000000

## Step 4: Check your results by generating a list of the top 5 most similar customers for a specific CustomerID.

In [114]:
"""filtro para df(customer_id)--> ordenar(sort)-->Select top5(df.head or iloc)"""
filtered_customer_id = 33

In [115]:
similars = matrix.loc[filtered_customer_id]
similars

CustomerID
33         0.000000
200       11.916375
264       10.488088
356       11.224972
412       11.401754
            ...
97928    220.501701
98069    217.188858
98159    228.628520
98185    239.000000
98200    229.773802
Name: 33, Length: 1000, dtype: float64

In [116]:
#sorting
top5 = similars.sort_values(ascending=True).head(6)[1:] #Con esto quitamos el primero que es el mismo customerID
top5

CustomerID
3535    10.488088
264     10.488088
3317    10.488088
2503    10.630146
3305    10.677078
Name: 33, dtype: float64

## Step 5: From the data frame you created in Step 1, select the records for the list of similar CustomerIDs you obtained in Step 4.

In [117]:
#df del step 1 +(merge,join)+ df del step 4 or customerid
#final df (customerid,customername,....)

In [118]:
selecting = df.loc[top5.index]
selecting

            CustomerID                     ProductName  Quantity
CustomerID
3535              4723                 Fondant - Icing         2
264                412              Cheese - Camembert         1
3317              4261   Wine - Wyndham Estate Bin 777         2
2503              2939  Bread - Italian Corn Meal Poly         1
3305              4261     Soup Knorr Chili With Beans         2

## Step 6: Aggregate those customer purchase records by ProductName, sum the Quantity field, and then rank them in descending order by quantity.

This will give you the total number of each product purchased by the 5 most similar customers to the customer you selected in order from most purchased to least.

In [119]:
#groupby(p.name)sumquantity()
#rank = order or sort by descending of quantity

In [120]:
filter_products = selecting.groupby(['ProductName'])['Quantity'].sum().reset_index().sort_values('Quantity',ascending=False)
filter_products

                      ProductName  Quantity
2                 Fondant - Icing         2
3     Soup Knorr Chili With Beans         2
4   Wine - Wyndham Estate Bin 777         2
0  Bread - Italian Corn Meal Poly         1
1              Cheese - Camembert         1

## Step 7: Filter the list for products that the chosen customer has not yet purchased and then recommend the top 5 products with the highest quantities that are left.

- Merge the ranked products data frame with the customer product matrix on the ProductName field.
- Filter for records where the chosen customer has not purchased the product.
- Show the top 5 results.

In [121]:
#filter by 0 y recomendar los 5 productos con mayores ventas left??

In [122]:
#merge
merged = pd.merge(customer_product_matrix.T.reset_index(),filter_products,how='inner', on='ProductName')
merged

,ProductName,33,200,264,356,412,464,477,639,649,...,97753,97769,97793,97900,97928,98069,98159,98185,98200,Quantity
0,Bread - Italian Corn Meal Poly,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,25.0,0.0,0.0,25.0,0.0,25.0,25.0,0.0,1
1,Cheese - Camembert,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,25.0,0.0,25.0,0.0,0.0,0.0,0.0,25.0,1
2,Fondant - Icing,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,50.0,0.0,0.0,0.0,0.0,25.0,2
3,Soup Knorr Chili With Beans,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,...,0.0,0.0,0.0,25.0,0.0,25.0,25.0,0.0,25.0,2
4,Wine - Wyndham Estate Bin 777,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,25.0,0.0,2

In [123]:
recomendation = merged.loc[merged[33] == 0, ['ProductName', 33,'Quantity']].sort_values('Quantity', ascending=False).head()
recomendation

                      ProductName   33  Quantity
3     Soup Knorr Chili With Beans  0.0         2
4   Wine - Wyndham Estate Bin 777  0.0         2
0  Bread - Italian Corn Meal Poly  0.0         1
1              Cheese - Camembert  0.0         1

## Step 8: Now that we have generated product recommendations for a single user, put the pieces together and iterate over a list of all CustomerIDs.

- Create an empty dictionary that will hold the recommendations for all customers.
- Create a list of unique CustomerIDs to iterate over.
- Iterate over the customer list performing steps 4 through 7 for each and appending the results of each iteration to the dictionary you created.

In [124]:
#crear lista que contenga diccionarios
#un for como una casa

In [125]:
#Creamos un diccionario vacio
recomendaciones = {}
#Creamos un listado de los customer id para iterar sobre ellos.
customer_list = table.columns

In [147]:
#creamos el loop
for customer_id in customer_list:
    similars = matrix.loc[customer_id]
    top5 = similars.sort_values(ascending=True).head(6)[1:]
    selecting = df.loc[top5.index]
    filter_products = selecting.groupby(['ProductName'])['Quantity'].sum().reset_index().sort_values('Quantity', ascending=False)
    merged = pd.merge(customer_product_matrix.T.reset_index(), filter_products, how='inner', on='ProductName')
    recommendation = merged.loc[merged[customer_id] == 0, ['ProductName', 'Quantity']].sort_values('Quantity', ascending=False).head()
    recomendaciones[customer_id] = recommendation

##  Step 9: Store the results in a Pandas data frame. The data frame should a column for Customer ID and then a column for each of the 5 product recommendations for each customer.

In [149]:
#Creamos el dataframe en blanco
recomendaciones_df = pd.DataFrame()
#aÃ±adimos los ids
recomendaciones_df['CustomerID'] = customer_list
recomendaciones_df

     CustomerID
0            33
1           200
2           264
3           356
4           412
..          ...
995       97928
996       98069
997       98159
998       98185
999       98200

[1000 rows x 1 columns]

In [154]:
#Rellenamos el diccionario
#ESTO ESTA GENERADO CON CHATGPT por que si no me vuelvo loco.
for customer_id, recommendation in recomendaciones.items():
    # Crea columnas dinamicas para cada recomendaciÃ³n.
    cols = [f'Recommendation_{i+1}' for i in range(len(recommendation))]
    
    #Rellenamos las nuevas columnas.
    recomendaciones_df.loc[recomendaciones_df['CustomerID'] == customer_id, cols] = recommendation['ProductName'].values

# Cambiamos el tipo de nuestro customer id a object. 
recomendaciones_df = recomendaciones_df.astype({'CustomerID': 'object'})

recomendaciones_df

,CustomerID,Recommendation_1,Recommendation_2,Recommendation_3,Recommendation_4,Recommendation_5
0,33,Soup Knorr Chili With Beans,Wine - Wyndham Estate Bin 777,Bread - Italian Corn Meal Poly,Cheese - Camembert,NaN
1,200,Fondant - Icing,Skirt - 29 Foot,Wine - Wyndham Estate Bin 777,"Bread - Roll, Canadian Dinner",NaN
2,264,Fondant - Icing,"Beef - Ground, Extra Lean, Fresh",Phyllo Dough,V8 - Berry Blend,Water - Aquafina Vitamin
3,356,Soup Knorr Chili With Beans,Wine - Wyndham Estate Bin 777,"Beef - Ground, Extra Lean, Fresh",Scampi Tail,Water - Aquafina Vitamin
4,412,Fondant - Icing,"Beef - Tenderlion, Center Cut",V8 - Berry Blend,NaN,NaN
...,...,...,...,...,...,...
995,97928,Brandy - Bar,Ezy Change Mophandle,"Orange - Canned, Mandarin","Shrimp - Baby, Warm Water",NaN
996,98069,Bread - Italian Roll With Herbs,French Pastry - Mini Chocolate,Halibut - Steaks,NaN,NaN
997,98159,"Nut - Pistachio, Shelled",V8 - Berry Blend,"Coconut - Shredded, Sweet",Fondant - Icing,Halibut - Steaks
998,98185,"Nut - Pistachio, Shelled","Tart Shells - Sweet, 4",Beef - Rib Eye Aaa,"Oregano - Dry, Rubbed",Wine - Alsace Gewurztraminer
999,98200,Beer - Original Organic Lager,Tuna - Salad Premix,Wine - Chablis 2003 Champs,NaN,NaN

## Step 10: Change the distance metric used in Step 3 to something other than euclidean (correlation, cityblock, consine, jaccard, etc.). Regenerate the recommendations for all customers and note the differences.

In [158]:
#Transponemos la tabla para tener customer vs products
customer_product_matrix = table.transpose()
distance2 = pdist(customer_product_matrix,metric='correlation')
distance2
matrix2 = pd.DataFrame(squareform(distance2), index=customer_product_matrix.index, columns=customer_product_matrix.index)
matrix2

CustomerID,33,200,264,356,412,464,477,639,649,669,...,97697,97753,97769,97793,97900,97928,98069,98159,98185,98200
CustomerID,,,,,,,,,,,,,,,,,,,,,
33,0.000000,1.025211,0.887943,0.959400,0.972579,0.971542,1.051663,1.008305,1.003146,0.990052,...,1.026814,1.064510,1.026400,1.083910,1.000520,1.084359,1.027589,1.055680,1.035068,1.032223
200,1.025211,0.000000,1.001067,1.005715,1.073948,1.075028,0.926265,1.080738,1.003482,0.978399,...,0.981300,1.015439,0.930933,0.964814,1.030125,1.063924,0.870938,0.998990,1.064954,1.046097
264,0.887943,1.001067,0.000000,1.009730,0.947144,1.039546,0.987110,1.079281,0.991922,1.039807,...,0.965398,1.037471,1.001002,1.003357,0.931461,0.903754,0.953715,0.986098,0.938976,1.037179
356,0.959400,1.005715,1.009730,0.000000,1.040222,1.041743,0.992298,0.969268,1.071740,1.056114,...,1.003586,1.054821,1.005365,0.991127,1.023312,1.015781,1.065232,0.991223,0.974719,0.997480
412,0.972579,1.073948,0.947144,1.040222,0.000000,1.009738,0.979762,0.951334,1.024509,0.969367,...,1.048723,0.888568,1.032385,1.019126,0.981172,0.999745,1.077885,0.990375,0.976296,0.941690
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97928,1.084359,1.063924,0.903754,1.015781,0.999745,0.968645,0.981220,1.002805,0.998928,1.029966,...,1.021932,0.981406,1.050846,0.960573,0.870999,0.000000,0.902651,0.964935,1.032316,1.070734
98069,1.027589,0.870938,0.953715,1.065232,1.077885,1.065183,1.012509,1.039542,1.018858,0.976137,...,1.043515,1.001031,1.027032,1.063468,0.930410,0.902651,0.000000,0.954242,0.995756,1.004420
98159,1.055680,0.998990,0.986098,0.991223,0.990375,1.003224,0.999040,0.991565,0.959505,0.991348,...,0.979906,0.913048,0.997792,1.044248,0.974952,0.964935,0.954242,0.000000,0.982682,1.017836
98185,1.035068,1.064954,0.938976,0.974719,0.976296,1.042204,1.049346,0.956425,0.999623,1.083135,...,1.067277,1.125484,1.009437,1.020435,1.040386,1.032316,0.995756,0.982682,0.000000,0.976622
98200,1.032223,1.046097,1.037179,0.997480,0.941690,0.936765,1.018322,1.012986,1.067876,0.942061,...,1.032768,1.036590,0.962666,1.034507,0.994968,1.070734,1.004420,1.017836,0.976622,0.000000