## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [7]:
sample_list_1 = random.sample(range(100),k=80)
print(sample_list_1)

[54, 56, 84, 23, 88, 70, 66, 43, 97, 35, 71, 52, 50, 75, 78, 51, 32, 49, 42, 19, 37, 18, 87, 34, 12, 67, 68, 41, 86, 98, 94, 89, 73, 28, 91, 1, 6, 44, 93, 65, 16, 85, 63, 77, 48, 27, 3, 82, 10, 4, 9, 20, 83, 96, 62, 0, 5, 13, 74, 15, 26, 38, 95, 59, 61, 14, 79, 47, 8, 64, 39, 99, 58, 33, 55, 29, 57, 36, 17, 30]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [14]:
# Your code here
set1 =set(sample_list_1)
print(set1)
print("Length is ", len(set1))

{0, 1, 3, 4, 5, 6, 8, 9, 10, 12, 13, 14, 15, 16, 17, 18, 19, 20, 23, 26, 27, 28, 29, 30, 32, 33, 34, 35, 36, 37, 38, 39, 41, 42, 43, 44, 47, 48, 49, 50, 51, 52, 54, 55, 56, 57, 58, 59, 61, 62, 63, 64, 65, 66, 67, 68, 70, 71, 73, 74, 75, 77, 78, 79, 82, 83, 84, 85, 86, 87, 88, 89, 91, 93, 94, 95, 96, 97, 98, 99}
Length is  80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [25]:
sample_list_2 = []
iterable = 100
for i in range(iterable):
    sample_list_2.append(random.randint(0,100))
print(sample_list_2)

[61, 20, 18, 4, 61, 26, 7, 84, 16, 30, 80, 88, 21, 92, 23, 54, 37, 90, 64, 14, 9, 17, 85, 35, 35, 99, 62, 73, 67, 38, 98, 43, 95, 8, 52, 67, 84, 78, 72, 52, 50, 42, 57, 80, 7, 16, 69, 35, 21, 1, 19, 28, 15, 61, 26, 22, 65, 78, 21, 38, 75, 37, 32, 97, 77, 54, 20, 94, 88, 67, 98, 23, 37, 72, 1, 7, 8, 11, 18, 57, 28, 73, 9, 10, 5, 38, 14, 52, 92, 65, 99, 99, 57, 39, 38, 76, 9, 78, 40, 32]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [36]:
# Your code here
set2 = set(sample_list_2)
print(set2)

print("Is not 80, Length is ",len(set2))

{1, 4, 5, 7, 8, 9, 10, 11, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 26, 28, 30, 32, 35, 37, 38, 39, 40, 42, 43, 50, 52, 54, 57, 61, 62, 64, 65, 67, 69, 72, 73, 75, 76, 77, 78, 80, 84, 85, 88, 90, 92, 94, 95, 97, 98, 99}
Is not 80, Length is  56

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [57]:
set3 = [] #lista vacia donde queremos guardar los nuevos valores.
for e in set2: 
    if e not in set1: #si los valores de la e no estan el set1 organizamelos en el nuevo listado.
        set3.append(e)
print(set3)
set3 = set(set3)
print(set3)

[7, 11, 21, 22, 40, 69, 72, 76, 80, 90, 92]
{69, 7, 40, 72, 11, 76, 80, 21, 22, 90, 92}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [59]:
# Your code here
set4 = []
for x in set1:
    if x not in set2:
        set4.append(x)
print(set(set4))

{0, 3, 6, 12, 13, 27, 29, 33, 34, 36, 41, 44, 47, 48, 49, 51, 55, 56, 58, 59, 63, 66, 68, 70, 71, 74, 79, 82, 83, 86, 87, 89, 91, 93, 96}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [60]:
# Your code here
set5 = []
for y in set2:
    if y in set1:
        set5.append(y)
print(set(set5))

{1, 4, 5, 8, 9, 10, 14, 15, 16, 17, 18, 19, 20, 23, 26, 28, 30, 32, 35, 37, 38, 39, 42, 43, 50, 52, 54, 57, 61, 62, 64, 65, 67, 73, 75, 77, 78, 84, 85, 88, 94, 95, 97, 98, 99}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [73]:
# Your code here
print(len(set1))
print(len(set2))
print(len(set3))
print(len(set4))
print(len(set5))

uni = set.intersection(set1,set2,set3,set4,set5)
print(uni)

80
56
56
35
45
set()

#### Create an empty set called `set6`.

In [ ]:
# Your code here
set6 = []

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [66]:
# Your code here
set6 = set3.update(set5)
print(set6)

None

#### Check if `set1` and `set6` are equal.

In [67]:
# Your code here
set1 == set6

False

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [70]:
# Your code here
verificacion1 = set1.issubset(set2)
print(verificacion1)
verificacion2 = set1.issubset(set3)
print(verificacion2)

False
False

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [77]:
# Your code here
unificacion1 = set.union(set3,set4,set5)
print(unificacion1)
print(len(unificacion1))
unificacion2 = set.union(unificacion1,set1,set2)
print(unificacion2)
print(len(unificacion2))

{0, 1, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 26, 27, 28, 29, 30, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 47, 48, 49, 50, 51, 52, 54, 55, 56, 57, 58, 59, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99}
91
{0, 1, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 26, 27, 28, 29, 30, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 47, 48, 49, 50, 51, 52, 54, 55, 56, 57, 58, 59, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99}
91

#### Using the `pop` method, remove the first element from `set1`.

In [78]:
# Your code here
set1.pop(1)
#El set es inmutable por lo cual no podemos quitarlo.

TypeError: set.pop() takes no arguments (1 given)

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [89]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
set1 = set(set1)

for i in list_to_remove:
    set1.discard(i)
print(set1)

{0, 3, 4, 5, 6, 8, 10, 12, 13, 14, 15, 16, 17, 18, 20, 23, 26, 27, 28, 30, 32, 33, 34, 35, 36, 37, 38, 42, 43, 44, 47, 48, 50, 52, 54, 55, 56, 57, 58, 62, 63, 64, 65, 66, 67, 68, 70, 73, 74, 75, 77, 78, 82, 83, 84, 85, 86, 87, 88, 93, 94, 95, 96, 97, 98}